<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://twitter.com/NityaPrakash23"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/n_i_t_y_a_21_/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/nitya-kalloli/"><i class="fa-brands fa-linkedin"></i></a>
           
        </div>
        <div class="f-info-brand"> &copy;StayScout Private Limited</div>
        <div class="f-info-links">
            <a href="/listings">About</a>
            <a href="/listings">Contact</a>
            <a href="/listings">Terms</a>
            <a href="/listings">Privacy</a>
        </div>
    </div>
</footer>